.App {
  
  background-color: #cfcfcf;
  background-image: linear-gradient(to right, rgba(253, 253, 253, 0), rgb(145, 145, 145)) ;
  
  min-height: 100vh;
  display: flex;
  color: white;
  height: 100%;
  width:100%
  
}
.logom{
height:100px ;
width: 200px;
position: relative;
display: inline;


}
.logohead {
height: 70px;
margin-top: 20px;
margin-left: 20px;
float: left;

}
.hermes{
  font-size: 40px;
  color: rgb(21, 14, 48);
  margin-top: 30px;
  float: left;
  margin-left: 10px;
 
}
.loginphoto{
 width:100%;
 position: r;
 margin-right: 0;
 margin-bottom: 40px;
 display: inline-block;

}
.layered-image {
  background: linear-gradient(to right, transparent, mistyrose),
      url("./img/login.jpeg");
}
.logincomp{
  margin-top: 130px;
  margin-left: 100px;
  border:solid;
  border-radius: 1%;
  border-color: rgb(21, 14, 48);
  border-width: 3px;
  background-color:rgb(122, 123, 146);
  height: 400px;
  width: 300px;
  display: row;
 


}
.loginx{

  margin-left: 40%;
}
.texta{
  width: 200px;
  margin-top: 10px;
  margin-left: 15px;
  position: center;
}

.textb{
  width: 200px;
  margin-top: 10px;
  margin-left: 45px;
  position: center;
}
.newemployee{
  margin-top: 25px;
  margin-left: 15px;
  margin-bottom: 30px;
}